#How {
    height: auto;
}

.HowTitle {
    font-size: 6em;
    text-transform: uppercase;
    padding-bottom: 2em;
    color: #213359;
    text-shadow: 2px 2px #e6e6e6;
}

.bgcolor {
    max-height: 100%;
    height: 100%;
    background-color: #213359;
}

p.HowHalf1 {
    padding-top: 2.2em;
    padding-left: 2.2em;
    padding-right: 2.2em;
    padding-bottom: 2.2em;
    width: 100%;
    color: rgb(232, 232, 232);
    height: auto;
}

.HowHalf2 {
    padding-top: 4.5em;
    padding-left: 2.2em;
    padding-right: 2.2em;
    padding-bottom: 2.2em;
    width: 100%;
    height: auto;
}

.imgbg1 {
    background-image: url('https://tinyurl.com/ychmtxep');
    margin-right: 0px;
    margin-left: 0px;
    padding-bottom: 10px;
    height: auto;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.colorbg1 {
    background-color: rgba(104, 104, 104, 0.194);
    height: 500px;
    width: 500px;
    margin: 0 auto;
    border-radius: 50%;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}