#How {
    height: auto;
}

.HowTitle {
    padding-top: 2.2em;
}

.bgcolor {
    background-color: #F3DFE1;
    height: 100%;
}

p.HowHalf1 {
    padding-top: 2.2em;
    padding-left: 2.2em;
    padding-right: 2.2em;
    padding-bottom: 2.2em;
    width: 100%;
    height: auto;
}

p.HowHalf2 {
    padding-top: 8.5em;
    padding-left: 2.2em;
    padding-right: 2.2em;
    padding-bottom: 2.2em;
    width: 100%;
    height: auto;
}

.imgbg1 {
    background-image: url('https://tinyurl.com/ydhbuf7q');
    margin-right: 0px;
    margin-left: 0px;
    padding-bottom: 40%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}