.App-header {
  background-color: #C08497;
  background-image: url('https://tinyurl.com/y7jrncmp');
  background-position: center;
  height: 370px;
  padding: 20px;
  overflow-y: hidden;
}

.App-title {
  font-size: 7em;
  line-height: 2em;
  text-align: center;
  margin: 0 auto;
  text-transform: uppercase;
  letter-spacing: .2em;
  color: rgb(252, 252, 252);
  text-shadow: 2px 2px #454545;
}

.App-subtitle {
  height: 2.5em;
  margin-top: 1em;
  text-align: center; 
  vertical-align: middle;
}

h4.Subtitle-bar {
  font-size: 1em;
  text-align: center;
  display: inline-block;
  margin: 0 auto;
  padding-left: 1em;
  padding-right: 1em;
  background-color: #cc5500be;
  transform: skew(-40deg);
}

.App-subtitle span {
  transform: skew(40deg);
  display: inline-block;
  position: relative;
  font-size: 1.4em;
  line-height: 1.4em;
  text-align: center;
  color: rgb(252, 252, 252);
  background-color: #ffffff00;
  text-shadow: 2px 2px #454545;
}

.App-intro {
  font-size: large;
}