#What {
    padding-top: 3.5em;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
    top: 30px;
    height: 600px;
    color: rgb(57, 57, 57);
}

.WhatTitle {
    padding-top: 40px;
    font-size: 5em;
}