.LoginTitle {
    padding-top: 150px;
}

.LoginImage {
    background-image: url('https://tinyurl.com/ych42sg8');
    height: 400px;
    width: 100%;
    margin: 0 auto;
    background-size: cover;
    border-radius: 25px;
    border: 1px solid rgb(155, 155, 155);
    padding: 20px;
}

h1.Greet {
    font-family: 'Zilla Slab';
    font-weight: 300;
    font-size: 5em;
    line-height: .8em;
    letter-spacing: 8px;
}

.Greeting2 {
    font-family: 'Zilla Slab';
    font-weight: 300;
    font-size: 3em;
    letter-spacing: 5px;

}

.LoginInput {
    font-family: 'Prata';
    text-transform: uppercase;
}