.FancyButton p { margin-top: 10px; }
a { text-decoration: none; margin: 0 10px; }

.FancyButton {
    min-height: 100px;
    margin-top: 70px;
    width: 100%;
    text-align: center;
}

a.btn {
	display: inline-block;
	color: #666;
	background-color: #eee;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 12px;
	padding: 10px 30px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid rgba(0,0,0,0.3);
	border-bottom-width: 3px;
}

a.btn:hover {
	background-color: #e3e3e3;
	border-color: rgba(0,0,0,0.5);
}

a.btn:active {
	background-color: #CCC;
	border-color: rgba(0,0,0,0.9);
}
.transition-enter {
	transform: scale(0);
  }
  .transition-enter-active {
	transform: scale(1);
	transition: transform 1000ms ease;
  }
  .transition-exit {
	transform: scale(1);
  }
  .transition-exit-active {
	transform: scale(0);
	transition: transform 1000ms ease;
	}